<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </meta>
    <link href="http://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css">
    </link>
    <!-- Bootstrap -->
    <link href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    </link>
    <link href="/webjars/github-com-limonte-sweetalert2/v6.3.8/dist/sweetalert2.min.css" rel="stylesheet" type="text/css" >
    </link>
    <!--Custom css-->
    <link href="css/app.css" rel="stylesheet">
    </link>
</head>
<body>
<script type="text/javascript" src="http://code.jquery.com/jquery.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
<script src="/webjars/github-com-limonte-sweetalert2/v6.3.8/dist/sweetalert2.min.js"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
<script src="/webjars/chart.js/2.3.0/dist/Chart.js"></script>
<script src="js/estimation.js"></script>
<script src="js/index.js"></script>
<div th:replace="fragments/header :: header">
</div>
<div id="settings" class="container col-md-8 col-md-offset-2">
    <!--<h2><a class="btn btn-sm btn-danger" href="#/beers/{{beer.id}}/edit_beer">Edit Beer</a></h2>-->
    <h2> Settings:
        <span class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" role="button"><span
                    class="glyphicon glyphicon-cog"></span></a>
            <ul class="dropdown-menu left">
                <li><a href="#" data-toggle="modal" data-target="#loadJSONFileModal">Load settings</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#" onclick="downloadJson()">Save settings</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#" data-toggle="modal" data-target="#attachDeploymentModal">Attach running deployment</a></li>
            </ul>
        </span>
    </h2>

    <div id="loadJSONFileModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Load settings from JSON</h4>
                </div>

                <form id="submitJsonFileForm" action="/submitJSONSettingsFile"  method="post" enctype="multipart/form-data">
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    <div class="modal-body">
                        <label class="control-label">JSON settings file</label>
                        <input name="jsonFile" type="file" placeholder="The json settings file"/><br/>
                    </div>
                    <div class="modal-footer">
                        <input class="btn btn-success" type="submit" value="Submit" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <div id="attachDeploymentModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Attach deployment from JSON</h4>
                </div>

                <form id="submitAttachmentForm" action="/deployment/attach"  method="post">
                    <!--<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>-->
                    <div class="modal-body">
                        <label class="control-label">JSON deployment file</label>
                        <input name="jsonFileLocation" type="text" class="form-control" placeholder="The json file location"/><br/>
                        <!--<input name="jsonFile" type="file" placeholder="The deployment json"/><br/>-->
                        <fieldset class="form-group">
                            <label class="control-label">Vendor</label>
                            <select id="select_vendor_dep" name="vendor" class="form-control" onchange="showCredentialsDivInModal(this.value)">
                                <option value="" selected="true">Select vendor</option>
                                <option value="openstack-nova">OpenStack</option>
                                <option value ="aws-ec2">Amazon EC2</option>
                            </select>
                            <br/>
                            <div id="amazon_credentials_dep" style="display: none;">
                                <label class="control-label">Access key</label>
                                <input name="amazonCredentials.login" type="text" class="form-control" placeholder="The access key"/><br/>
                                <label class="control-label">Secret key</label>
                                <input name="amazonCredentials.password" type="password" class="form-control" placeholder="The secret key."/><br/>
                            </div>
                            <div id="openstack_credentials_dep" style="display: none;">
                                <label class="control-label">URL of OpenStack's keypoint</label>
                                <input name="openstackEndpoint" type="text" class="form-control" placeholder="The name of the openstack keystone endpoint"/><br/>
                                <label class="control-label">Project name</label>
                                <input name="openstackProjectName" type="text" class="form-control" placeholder="The name of the openstack project name, that you've got access to"/><br/>
                                <label class="control-label">Username</label>
                                <input name="openstackCredentials.login" type="text" class="form-control" placeholder="The username"/><br/>
                                <label class="control-label">Password</label>
                                <input name="openstackCredentials.password" type="password" class="form-control" placeholder="The password."/><br/>
                                <!--<input type="reset" value="Reset" />-->
                            </div>
                        </fieldset>
                    </div>
                    <div class="modal-footer">
                        <input class="btn btn-success" type="submit" value="Submit" />
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>

        </div>
    </div>



    <div class="panel outside panel-default">
        <div class="panel-heading">&nbsp;</div>
        <div class="panel-body">
            <form id ="settings_form" action="/submitSettings"  method="post" enctype="multipart/form-data">
                <div class="panel panel-default">
                    <div class="panel-heading"><a id="con_settings_toggle" data-toggle="collapse" href="#con_settings">Connection settings</a></div>
                    <div id="con_settings" class="panel-collapse collapse">
                        <div style="padding:15px">
                            <fieldset class="form-group">
                                <label class="control-label">Vendor</label>
                                <!--<h2 th:text="${connectionSettings.vendor}"></h2>-->
                                <select id="select_vendor" th:value="${connectionSettings.vendor}" th:field ="${connectionSettings.vendor}"  class="form-control" onchange="showCredentialsDiv(this.value)">
                                    <option value="" selected="true">Select vendor</option>
                                    <option value="openstack-nova">OpenStack</option>
                                    <option value ="aws-ec2">Amazon EC2</option>
                                </select>
                                <br/>
                                <div id="amazon_credentials" style="display: none;">
                                    <label class="control-label">Access key</label>
                                    <input th:field ="${connectionSettings.amazonCredentials.login}"  name="login" type="text" class="form-control" placeholder="The access key"/><br/>
                                    <label class="control-label">Secret key</label>
                                    <input id="amazonCredentials.password" th:field ="${connectionSettings.amazonCredentials.password}" name="password" type="password" class="form-control" placeholder="The secret key."/><br/>
                                </div>
                                <div id="openstack_credentials" style="display: none;">
                                    <label class="control-label">URL of OpenStack's keypoint</label>
                                    <input th:field ="${connectionSettings.openstackEndpoint}" name="openstackEndpoint" type="url" class="form-control" placeholder="The name of the openstack keystone endpoint"/><br/>
                                    <label class="control-label">Project name</label>
                                    <input th:field ="${connectionSettings.openstackProjectName}" name="openstackProjectName" type="text" class="form-control" placeholder="The name of the openstack project name, that you've got access to"/><br/>
                                    <label class="control-label">Username</label>
                                    <input th:field ="${connectionSettings.openstackCredentials.login}"  name="login" type="text" class="form-control" placeholder="The username"/><br/>
                                    <label class="control-label">Password</label>
                                    <input id="openstackCredentials.password" th:field ="${connectionSettings.openstackCredentials.password}" name="password" type="password" class="form-control" placeholder="The password."/><br/>
                                    <!--<input type="reset" value="Reset" />-->
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading"><a id="vm_settings_toggle" data-toggle="collapse" href="#vm_settings">Virtual machine settings</a></div>
                    <div id="vm_settings" class="panel-collapse collapse">
                        <div style="padding:15px">

                            <fieldset class="form-group">
                                <div id="openstackVMSettings">
                                    <label class="control-label">Minimum amount of CPU cores<output th:text="${vmSettings.minCores}" id="minCoresOutput"></output></label>
                                    <input id="minCoresInput" th:field ="${vmSettings.minCores}" min="1" max="100" value="1" th:value="${1}" step="1" oninput="minCoresOutput.value = minCoresInput.value" type="range" class="form-control"/><br/>
                                    <label class="control-label">Minimum amount of RAM (MB)<output th:text="${vmSettings.minRam}" id="minRamOutput"></output></label>
                                    <input id="minRamInput" th:field ="${vmSettings.minRam}" min="512" max="10240" value="512" step="512" oninput="minRamOutput.value = minRamInput.value" type="range" class="form-control"/><br/>
                                </div>
                                <div id="amazonVMSettings">
                                    <label class="control-label">Machine type</label>
                                    <select class="form-control" th:field="${vmSettings.instanceType}">
                                        <option value="" selected="true">Select type</option>
                                        <option th:each="type : ${vmSettings.instanceTypes}" th:value="${type}" th:text="${type}"></option>
                                    </select><br/>
                                    <!--<label id="amazon_img_name" class="control-label">Amazon image id name</label>-->
                                    <!--<input th:field ="${vmSettings.imageId}" type="text" class="form-control" placeholder="The amazon image id, i.e., us-east-1/ami-0927dc1f"/><br/>-->
                                    <label class="control-label">Region</label>
                                    <input th:field ="${vmSettings.region}" type="text" class="form-control" placeholder="The region, i.e., us-east-1"/><br/>

                                </div>
                                <label class="control-label">The amount of storage (GB)<output th:text="${vmSettings.minStorage}" id="minStorageOutput"></output></label>
                                <input id="minStorageInput" th:field ="${vmSettings.minStorage}" min="10" max="1000" value="10" th:value="${10}" step="10" oninput="minStorageOutput.value = minStorageInput.value" type="range" class="form-control"/><br/>
                                <label class="control-label">The number of instances<output th:text="${vmSettings.nrOfInstances}" id="nrOfInstancesOutput"></output></label>
                                <input id="nrOfInstancesInput" th:field ="${vmSettings.nrOfInstances}" min="2" max="100" value="2" th:value="${2}" step="1" oninput="nrOfInstancesOutput.value = nrOfInstancesInput.value" type="range" class="form-control"/><br/>
                                <label id="amz_img_id" class="control-label" style="hidden">Image ID</label>
                                <label id="os_img_id" class="control-label" style="hidden">Image ID (Optional)</label>
                                <input th:field ="${vmSettings.imageId}" class="form-control" name="imageid" type="text" placeholder="The ubuntu image id to span the instances from. (AMI id in amazon case, ... in openstack)"/><br/>
                                <label class="control-label">Image is a snapshot of the main-node? *</label><br/>
                                <input th:field="${vmSettings.skipInitialSetup}" name="skipInitialSetup" type="checkbox" checked="true"/><br/>
                                <p><small>* If checked, all the instances are spawned from the main nodes snapshot, i.e., the software+workflow set-up will be skipped!</small></p>
                                <label class="control-label">Security group name</label>
                                <input th:field ="${vmSettings.securityGroup}" type="text" class="form-control" placeholder="The name of the security groups with ports (....) opened"/><br/>
                                <label class="control-label">SSH key name</label>
                                <input th:field ="${vmSettings.sshKey}" type="text" class="form-control" placeholder="The name of the SSH key to use in OpenStack"/><br/>
                                <label class="control-label">SSH private key</label>
                                <input th:field ="${vmSettings.privateKeyLocation}" class="form-control" name="Private Key" type="text" placeholder="The private key location to access the instances."/><br/>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading"><a data-toggle="collapse" href="#wf_settings">Workflow settings</a></div>
                    <div id="wf_settings" class="panel-collapse collapse">
                        <div style="padding:15px">
                            <fieldset class="form-group">
                                <label class="control-label">Workflow setup script</label>
                                <input th:field ="${workflowSettings.customScriptLocation}" type="text" class="form-control" placeholder="The location of the custom script"/><br/>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <input class="btn btn-success" type="submit" value="Submit" />
            </form>
        </div>
    </div>

    <div class="panel outside panel-default">
        <div class="panel-heading"><a data-toggle="collapse" href="#estimator">Estimator (optional)</a></div>
        <div id="estimator" class="panel-collapse collapse">
            <div style="padding:15px">

                <fieldset class="form-group">
                    <label class="control-label">Transfers log file</label>
                    <input th:value ="${estimatorSettings.transferLogFileLocation}" th:field ="${estimatorSettings.transferLogFileLocation}" type="text" class="form-control" placeholder="The transfers log file location."/><br/>
                    <label class="control-label">Jobs log file</label>
                    <input th:value ="${estimatorSettings.jobsLogFileLocation}" th:field ="${estimatorSettings.jobsLogFileLocation}" type="text" class="form-control" placeholder="The jobs log file location."/><br/>
                    <label class="control-label">DAX file</label>
                    <input th:value ="${estimatorSettings.daxFileLocation}" th:field ="${estimatorSettings.daxFileLocation}" type="text" class="form-control" placeholder="The DAX file location."/><br/>
                </fieldset>
                <input class="btn btn-success" type="submit" onclick="analyzeLogs()" value="Analyze" />
            </div>
        </div>
        <div id="estimation_status" style="padding:15px;display: none;"></div>
        <canvas id="canvas" height="450" width="600" style="padding:15px; display: none;"></canvas>

        <div style="padding:15px">
            <table id="pricingTable" height="450" class="display" style="display: none;">
                <thead>
                <tr>
                    <th>Type</th>
                    <th>Number of instances</th>
                    <th>Cost of one</th>
                    <th>Total instance hours</th>
                    <th>Total cost</th>
                </tr>
                </thead>
            </table>
        </div>

    </div>

</div>
</body>
</html>